html,
body {
  background-color: #0d1117 !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
}

.markdown-body.wrapper {
  margin-left: auto !important;
  margin-right: auto !important;
}
.wrapper {
  margin-left: auto !important;
  margin-right: auto !important;
}
