<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown-dark.min.css"
    />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <article class="markdown-body wrapper">
      <section>{{ content }}</section>
    </article>

    <!-- Mermaid.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.8.0/mermaid.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code.language-mermaid').forEach((el) => {
          const container = document.createElement('div');
          container.innerHTML = el.textContent;
          container.classList.add('mermaid');
          el.parentNode.parentNode.replaceChild(container, el.parentNode);
        });
        mermaid.initialize({ startOnLoad: true, theme: 'dark' });
      });
    </script>
  </body>
</html>
